# Auto detect text files and perform LF normalization
* text=auto
modelli_Allenati/slopeOne filter=lfs diff=lfs merge=lfs -text
modelli_Allenati/KnnBase_u filter=lfs diff=lfs merge=lfs -text
modelli_Allenati/KnnBase_i filter=lfs diff=lfs merge=lfs -text
modelli_Allenati/algo_knnMeans_u filter=lfs diff=lfs merge=lfs -text
modelli_Allenati/algo_knnMeans_i filter=lfs diff=lfs merge=lfs -text
